yarn-error.log
.prettierrc

/node_modules
node_modules/.yarn-integrity
node_modules/.bin/is-ci
node_modules/.bin/is-ci.cmd
node_modules/.bin/is-ci.ps1
node_modules/.bin/mime
node_modules/.bin/mime.cmd
node_modules/.bin/mime.ps1
node_modules/.bin/nodemon
node_modules/.bin/nodemon.cmd
node_modules/.bin/nodemon.ps1
node_modules/.bin/nodetouch
node_modules/.bin/nodetouch.cmd
node_modules/.bin/nodetouch.ps1
node_modules/.bin/nopt
node_modules/.bin/nopt.cmd
node_modules/.bin/nopt.ps1
node_modules/.bin/rc
node_modules/.bin/rc.cmd
node_modules/.bin/rc.ps1
node_modules/.bin/semver
node_modules/.bin/semver.cmd
node_modules/.bin/semver.ps1
node_modules/@sindresorhus/is/package.json
node_modules/@szmarczak/http-timer/package.json
node_modules/abbrev/package.json
node_modules/accepts/package.json
node_modules/ansi-align/package.json
node_modules/ansi-align/node_modules/string-width/index.js
node_modules/ansi-align/node_modules/string-width/license
node_modules/ansi-align/node_modules/string-width/package.json
node_modules/ansi-align/node_modules/string-width/readme.md
node_modules/ansi-regex/package.json
node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.js
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/anymatch/package.json
node_modules/array-flatten/package.json
node_modules/balanced-match/package.json
node_modules/binary-extensions/package.json
node_modules/body-parser/package.json
node_modules/body-parser/node_modules/raw-body/package.json
node_modules/boxen/package.json
node_modules/brace-expansion/package.json
node_modules/braces/package.json
node_modules/bytes/package.json
node_modules/cacheable-request/package.json
node_modules/cacheable-request/node_modules/get-stream/package.json
node_modules/cacheable-request/node_modules/lowercase-keys/package.json
node_modules/camelcase/package.json
node_modules/chalk/package.json
node_modules/chalk/node_modules/has-flag/package.json
node_modules/chalk/node_modules/supports-color/package.json
node_modules/chokidar/package.json
node_modules/ci-info/package.json
node_modules/cli-boxes/package.json
node_modules/clone-response/package.json
node_modules/color-convert/conversions.js
node_modules/color-convert/index.js
node_modules/color-convert/package.json
node_modules/color-convert/route.js
node_modules/color-name/package.json
node_modules/concat-map/package.json
node_modules/configstore/package.json
node_modules/content-disposition/package.json
node_modules/content-type/package.json
node_modules/cookie/package.json
node_modules/cookie-signature/package.json
node_modules/crypto-random-string/package.json
node_modules/debug/package.json
node_modules/decompress-response/package.json
node_modules/deep-extend/package.json
node_modules/defer-to-connect/package.json
node_modules/depd/package.json
node_modules/destroy/package.json
node_modules/dot-prop/package.json
node_modules/duplexer3/package.json
node_modules/ee-first/package.json
node_modules/emoji-regex/package.json
node_modules/encodeurl/package.json
node_modules/end-of-stream/package.json
node_modules/escape-goat/package.json
node_modules/escape-html/package.json
node_modules/etag/package.json
node_modules/express-graphql/node_modules/http-errors/package.json
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/inherits_browser.js
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/inherits.js
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/LICENSE
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/package.json
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/README.md
node_modules/express-graphql/node_modules/setprototypeof/package.json
node_modules/fill-range/package.json
node_modules/finalhandler/package.json
node_modules/follow-redirects/package.json
node_modules/forwarded/package.json
node_modules/fresh/package.json
node_modules/get-stream/package.json
node_modules/glob-parent/package.json
node_modules/global-dirs/package.json
node_modules/got/package.json
node_modules/graceful-fs/package.json
node_modules/has-flag/package.json
node_modules/has-yarn/package.json
node_modules/http-cache-semantics/package.json
node_modules/http-errors/package.json
node_modules/http-errors/node_modules/inherits/package.json
node_modules/iconv-lite/package.json
node_modules/ignore-by-default/package.json
node_modules/import-lazy/package.json
node_modules/imurmurhash/package.json
node_modules/inherits/package.json
node_modules/ini/package.json
node_modules/ipaddr.js/package.json
node_modules/is-binary-path/package.json
node_modules/is-ci/package.json
node_modules/is-extglob/package.json
node_modules/is-fullwidth-code-point/package.json
node_modules/is-glob/package.json
node_modules/is-installed-globally/package.json
node_modules/is-npm/package.json
node_modules/is-number/package.json
node_modules/is-obj/package.json
node_modules/is-path-inside/package.json
node_modules/is-typedarray/package.json
node_modules/is-yarn-global/package.json
node_modules/json-buffer/package.json
node_modules/keyv/package.json
node_modules/latest-version/package.json
node_modules/lowercase-keys/package.json
node_modules/make-dir/package.json
node_modules/make-dir/node_modules/.bin/semver
node_modules/make-dir/node_modules/.bin/semver.cmd
node_modules/make-dir/node_modules/.bin/semver.ps1
node_modules/make-dir/node_modules/semver/CHANGELOG.md
node_modules/make-dir/node_modules/semver/LICENSE
node_modules/make-dir/node_modules/semver/package.json
node_modules/make-dir/node_modules/semver/range.bnf
node_modules/make-dir/node_modules/semver/README.md
node_modules/make-dir/node_modules/semver/semver.js
node_modules/make-dir/node_modules/semver/bin/semver.js
node_modules/media-typer/package.json
node_modules/merge-descriptors/package.json
node_modules/methods/package.json
node_modules/mime/package.json
node_modules/mime-db/package.json
node_modules/mime-types/package.json
node_modules/mimic-response/package.json
node_modules/minimatch/package.json
node_modules/minimist/package.json
node_modules/ms/package.json
node_modules/negotiator/package.json
node_modules/nodemon/package.json
node_modules/nodemon/node_modules/debug/package.json
node_modules/nodemon/node_modules/ms/package.json
node_modules/nopt/.npmignore
node_modules/nopt/package.json
node_modules/normalize-path/package.json
node_modules/normalize-url/package.json
node_modules/on-finished/package.json
node_modules/once/package.json
node_modules/p-cancelable/package.json
node_modules/package-json/package.json
node_modules/package-json/node_modules/.bin/semver
node_modules/package-json/node_modules/.bin/semver.cmd
node_modules/package-json/node_modules/.bin/semver.ps1
node_modules/package-json/node_modules/semver/CHANGELOG.md
node_modules/package-json/node_modules/semver/LICENSE
node_modules/package-json/node_modules/semver/package.json
node_modules/package-json/node_modules/semver/range.bnf
node_modules/package-json/node_modules/semver/README.md
node_modules/package-json/node_modules/semver/semver.js
node_modules/package-json/node_modules/semver/bin/semver.js
node_modules/parseurl/package.json
node_modules/path-to-regexp/package.json
node_modules/picomatch/package.json
node_modules/prepend-http/package.json
node_modules/proxy-addr/package.json
node_modules/pstree.remy/package.json
node_modules/pump/package.json
node_modules/pupa/package.json
node_modules/qs/package.json
node_modules/range-parser/package.json
node_modules/raw-body/package.json
node_modules/raw-body/node_modules/http-errors/package.json
node_modules/rc/package.json
node_modules/readdirp/package.json
node_modules/registry-auth-token/package.json
node_modules/registry-url/package.json
node_modules/responselike/package.json
node_modules/safe-buffer/package.json
node_modules/safer-buffer/package.json
node_modules/semver/CHANGELOG.md
node_modules/semver/package.json
node_modules/semver/README.md
node_modules/semver/semver.js
node_modules/semver/bin/semver
node_modules/semver-diff/package.json
node_modules/semver-diff/node_modules/.bin/semver
node_modules/semver-diff/node_modules/.bin/semver.cmd
node_modules/semver-diff/node_modules/.bin/semver.ps1
node_modules/semver-diff/node_modules/semver/CHANGELOG.md
node_modules/semver-diff/node_modules/semver/LICENSE
node_modules/semver-diff/node_modules/semver/package.json
node_modules/semver-diff/node_modules/semver/range.bnf
node_modules/semver-diff/node_modules/semver/README.md
node_modules/semver-diff/node_modules/semver/semver.js
node_modules/semver-diff/node_modules/semver/bin/semver.js
node_modules/send/package.json
node_modules/send/node_modules/ms/package.json
node_modules/serve-static/package.json
node_modules/setprototypeof/package.json
node_modules/signal-exit/package.json
node_modules/statuses/package.json
node_modules/string-width/index.d.ts
node_modules/string-width/index.js
node_modules/string-width/package.json
node_modules/string-width/readme.md
node_modules/string-width/node_modules/ansi-regex/index.d.ts
node_modules/string-width/node_modules/ansi-regex/index.js
node_modules/string-width/node_modules/ansi-regex/license
node_modules/string-width/node_modules/ansi-regex/package.json
node_modules/string-width/node_modules/ansi-regex/readme.md
node_modules/string-width/node_modules/emoji-regex/index.d.ts
node_modules/string-width/node_modules/emoji-regex/index.js
node_modules/string-width/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/string-width/node_modules/emoji-regex/package.json
node_modules/string-width/node_modules/emoji-regex/README.md
node_modules/string-width/node_modules/emoji-regex/text.js
node_modules/string-width/node_modules/emoji-regex/es2015/index.js
node_modules/string-width/node_modules/emoji-regex/es2015/text.js
node_modules/string-width/node_modules/is-fullwidth-code-point/index.d.ts
node_modules/string-width/node_modules/is-fullwidth-code-point/index.js
node_modules/string-width/node_modules/is-fullwidth-code-point/license
node_modules/string-width/node_modules/is-fullwidth-code-point/package.json
node_modules/string-width/node_modules/is-fullwidth-code-point/readme.md
node_modules/string-width/node_modules/strip-ansi/index.d.ts
node_modules/string-width/node_modules/strip-ansi/index.js
node_modules/string-width/node_modules/strip-ansi/license
node_modules/string-width/node_modules/strip-ansi/package.json
node_modules/string-width/node_modules/strip-ansi/readme.md
node_modules/strip-ansi/package.json
node_modules/strip-json-comments/package.json
node_modules/supports-color/package.json
node_modules/term-size/package.json
node_modules/to-readable-stream/package.json
node_modules/to-regex-range/package.json
node_modules/toidentifier/package.json
node_modules/touch/package.json
node_modules/type-fest/package.json
node_modules/type-is/package.json
node_modules/typedarray-to-buffer/package.json
node_modules/undefsafe/package.json
node_modules/unique-string/package.json
node_modules/unpipe/package.json
node_modules/update-notifier/package.json
node_modules/url-parse-lax/package.json
node_modules/utils-merge/package.json
node_modules/vary/package.json
node_modules/widest-line/package.json
node_modules/wrappy/package.json
node_modules/write-file-atomic/package.json
node_modules/xdg-basedir/package.json
node_modules/.yarn-integrity
node_modules/.bin/is-ci
node_modules/.bin/is-ci.cmd
node_modules/.bin/is-ci.ps1
node_modules/.bin/mime
node_modules/.bin/mime.cmd
node_modules/.bin/mime.ps1
node_modules/.bin/nodemon
node_modules/.bin/nodemon.cmd
node_modules/.bin/nodemon.ps1
node_modules/.bin/nodetouch
node_modules/.bin/nodetouch.cmd
node_modules/.bin/nodetouch.ps1
node_modules/.bin/nopt
node_modules/.bin/nopt.cmd
node_modules/.bin/nopt.ps1
node_modules/.bin/rc
node_modules/.bin/rc.cmd
node_modules/.bin/rc.ps1
node_modules/.bin/semver
node_modules/.bin/semver.cmd
node_modules/.bin/semver.ps1
node_modules/@sindresorhus/is/package.json
node_modules/@szmarczak/http-timer/package.json
node_modules/abbrev/package.json
node_modules/accepts/package.json
node_modules/ansi-align/package.json
node_modules/ansi-align/node_modules/string-width/index.js
node_modules/ansi-align/node_modules/string-width/license
node_modules/ansi-align/node_modules/string-width/package.json
node_modules/ansi-align/node_modules/string-width/readme.md
node_modules/ansi-regex/package.json
node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.js
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/anymatch/package.json
node_modules/array-flatten/package.json
node_modules/balanced-match/package.json
node_modules/binary-extensions/package.json
node_modules/body-parser/package.json
node_modules/body-parser/node_modules/raw-body/package.json
node_modules/boxen/package.json
node_modules/brace-expansion/package.json
node_modules/braces/package.json
node_modules/bytes/package.json
node_modules/cacheable-request/package.json
node_modules/cacheable-request/node_modules/get-stream/package.json
node_modules/cacheable-request/node_modules/lowercase-keys/package.json
node_modules/camelcase/package.json
node_modules/chalk/package.json
node_modules/chalk/node_modules/has-flag/package.json
node_modules/chalk/node_modules/supports-color/package.json
node_modules/chokidar/package.json
node_modules/ci-info/package.json
node_modules/cli-boxes/package.json
node_modules/clone-response/package.json
node_modules/color-convert/conversions.js
node_modules/color-convert/index.js
node_modules/color-convert/package.json
node_modules/color-convert/route.js
node_modules/color-name/package.json
node_modules/concat-map/package.json
node_modules/configstore/package.json
node_modules/content-disposition/package.json
node_modules/content-type/package.json
node_modules/cookie/package.json
node_modules/cookie-signature/package.json
node_modules/crypto-random-string/package.json
node_modules/debug/package.json
node_modules/decompress-response/package.json
node_modules/deep-extend/package.json
node_modules/defer-to-connect/package.json
node_modules/depd/package.json
node_modules/destroy/package.json
node_modules/dot-prop/package.json
node_modules/duplexer3/package.json
node_modules/ee-first/package.json
node_modules/emoji-regex/package.json
node_modules/encodeurl/package.json
node_modules/end-of-stream/package.json
node_modules/escape-goat/package.json
node_modules/escape-html/package.json
node_modules/etag/package.json
node_modules/express-graphql/node_modules/http-errors/package.json
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/inherits_browser.js
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/inherits.js
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/LICENSE
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/package.json
node_modules/express-graphql/node_modules/http-errors/node_modules/inherits/README.md
node_modules/express-graphql/node_modules/setprototypeof/package.json
node_modules/fill-range/package.json
node_modules/finalhandler/package.json
node_modules/follow-redirects/package.json
node_modules/forwarded/package.json
node_modules/fresh/package.json
node_modules/get-stream/package.json
node_modules/glob-parent/package.json
node_modules/global-dirs/package.json
node_modules/got/package.json
node_modules/graceful-fs/package.json
node_modules/has-flag/package.json
node_modules/has-yarn/package.json
node_modules/http-cache-semantics/package.json
node_modules/http-errors/package.json
node_modules/http-errors/node_modules/inherits/package.json
node_modules/iconv-lite/package.json
node_modules/ignore-by-default/package.json
node_modules/import-lazy/package.json
node_modules/imurmurhash/package.json
node_modules/inherits/package.json
node_modules/ini/package.json
node_modules/ipaddr.js/package.json
node_modules/is-binary-path/package.json
node_modules/is-ci/package.json
node_modules/is-extglob/package.json
node_modules/is-fullwidth-code-point/package.json
node_modules/is-glob/package.json
node_modules/is-installed-globally/package.json
node_modules/is-npm/package.json
node_modules/is-number/package.json
node_modules/is-obj/package.json
node_modules/is-path-inside/package.json
node_modules/is-typedarray/package.json
node_modules/is-yarn-global/package.json
node_modules/json-buffer/package.json
node_modules/keyv/package.json
node_modules/latest-version/package.json
node_modules/lowercase-keys/package.json
node_modules/make-dir/package.json
node_modules/make-dir/node_modules/.bin/semver
node_modules/make-dir/node_modules/.bin/semver.cmd
node_modules/make-dir/node_modules/.bin/semver.ps1
node_modules/make-dir/node_modules/semver/CHANGELOG.md
node_modules/make-dir/node_modules/semver/LICENSE
node_modules/make-dir/node_modules/semver/package.json
node_modules/make-dir/node_modules/semver/range.bnf
node_modules/make-dir/node_modules/semver/README.md
node_modules/make-dir/node_modules/semver/semver.js
node_modules/make-dir/node_modules/semver/bin/semver.js
node_modules/media-typer/package.json
node_modules/merge-descriptors/package.json
node_modules/methods/package.json
node_modules/mime/package.json
node_modules/mime-db/package.json
node_modules/mime-types/package.json
node_modules/mimic-response/package.json
node_modules/minimatch/package.json
node_modules/minimist/package.json
node_modules/ms/package.json
node_modules/negotiator/package.json
node_modules/nodemon/package.json
node_modules/nodemon/node_modules/debug/package.json
node_modules/nodemon/node_modules/ms/package.json
node_modules/nopt/.npmignore
node_modules/nopt/package.json
node_modules/normalize-path/package.json
node_modules/normalize-url/package.json
node_modules/on-finished/package.json
node_modules/once/package.json
node_modules/p-cancelable/package.json
node_modules/package-json/package.json
node_modules/package-json/node_modules/.bin/semver
node_modules/package-json/node_modules/.bin/semver.cmd
node_modules/package-json/node_modules/.bin/semver.ps1
node_modules/package-json/node_modules/semver/CHANGELOG.md
node_modules/package-json/node_modules/semver/LICENSE
node_modules/package-json/node_modules/semver/package.json
node_modules/package-json/node_modules/semver/range.bnf
node_modules/package-json/node_modules/semver/README.md
node_modules/package-json/node_modules/semver/semver.js
node_modules/package-json/node_modules/semver/bin/semver.js
node_modules/parseurl/package.json
node_modules/path-to-regexp/package.json
node_modules/picomatch/package.json
node_modules/prepend-http/package.json
node_modules/proxy-addr/package.json
node_modules/pstree.remy/package.json
node_modules/pump/package.json
node_modules/pupa/package.json
node_modules/qs/package.json
node_modules/range-parser/package.json
node_modules/raw-body/package.json
node_modules/raw-body/node_modules/http-errors/package.json
node_modules/rc/package.json
node_modules/readdirp/package.json
node_modules/registry-auth-token/package.json
node_modules/registry-url/package.json
node_modules/responselike/package.json
node_modules/safe-buffer/package.json
node_modules/safer-buffer/package.json
node_modules/semver/CHANGELOG.md
node_modules/semver/package.json
node_modules/semver/README.md
node_modules/semver/semver.js
node_modules/semver/bin/semver
node_modules/semver-diff/package.json
node_modules/semver-diff/node_modules/.bin/semver
node_modules/semver-diff/node_modules/.bin/semver.cmd
node_modules/semver-diff/node_modules/.bin/semver.ps1
node_modules/semver-diff/node_modules/semver/CHANGELOG.md
node_modules/semver-diff/node_modules/semver/LICENSE
node_modules/semver-diff/node_modules/semver/package.json
node_modules/semver-diff/node_modules/semver/range.bnf
node_modules/semver-diff/node_modules/semver/README.md
node_modules/semver-diff/node_modules/semver/semver.js
node_modules/semver-diff/node_modules/semver/bin/semver.js
node_modules/send/package.json
node_modules/send/node_modules/ms/package.json
node_modules/serve-static/package.json
node_modules/setprototypeof/package.json
node_modules/signal-exit/package.json
node_modules/statuses/package.json
node_modules/string-width/index.d.ts
node_modules/string-width/index.js
node_modules/string-width/package.json
node_modules/string-width/readme.md
node_modules/string-width/node_modules/ansi-regex/index.d.ts
node_modules/string-width/node_modules/ansi-regex/index.js
node_modules/string-width/node_modules/ansi-regex/license
node_modules/string-width/node_modules/ansi-regex/package.json
node_modules/string-width/node_modules/ansi-regex/readme.md
node_modules/string-width/node_modules/emoji-regex/index.d.ts
node_modules/string-width/node_modules/emoji-regex/index.js
node_modules/string-width/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/string-width/node_modules/emoji-regex/package.json
node_modules/string-width/node_modules/emoji-regex/README.md
node_modules/string-width/node_modules/emoji-regex/text.js
node_modules/string-width/node_modules/emoji-regex/es2015/index.js
node_modules/string-width/node_modules/emoji-regex/es2015/text.js
node_modules/string-width/node_modules/is-fullwidth-code-point/index.d.ts
node_modules/string-width/node_modules/is-fullwidth-code-point/index.js
node_modules/string-width/node_modules/is-fullwidth-code-point/license
node_modules/string-width/node_modules/is-fullwidth-code-point/package.json
node_modules/string-width/node_modules/is-fullwidth-code-point/readme.md
node_modules/string-width/node_modules/strip-ansi/index.d.ts
node_modules/string-width/node_modules/strip-ansi/index.js
node_modules/string-width/node_modules/strip-ansi/license
node_modules/string-width/node_modules/strip-ansi/package.json
node_modules/string-width/node_modules/strip-ansi/readme.md
node_modules/strip-ansi/package.json
node_modules/strip-json-comments/package.json
node_modules/supports-color/package.json
node_modules/term-size/package.json
node_modules/to-readable-stream/package.json
node_modules/to-regex-range/package.json
node_modules/toidentifier/package.json
node_modules/touch/package.json
node_modules/type-fest/package.json
node_modules/type-is/package.json
node_modules/typedarray-to-buffer/package.json
node_modules/undefsafe/package.json
node_modules/unique-string/package.json
node_modules/unpipe/package.json
node_modules/update-notifier/package.json
node_modules/url-parse-lax/package.json
node_modules/utils-merge/package.json
node_modules/vary/package.json
node_modules/widest-line/package.json
node_modules/wrappy/package.json
node_modules/write-file-atomic/package.json
node_modules/xdg-basedir/package.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/client

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
